{% extends 'AppBundle::base.html.twig' %}

{% block menu %}
    <div class="col-xs-12 col-sm-12 col-md-12 yellow">
        <h2>MENU</h2>
        <ul class="nav nav-pills">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('products') }}">Products</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('authorization') }}">Authorization</a></li>
                <li><a href="{{ path('registration') }}">Registration</a></li>
                <li><a href="{{ path('secret') }}">Secret</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
